* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: Baskervville SC;
    src: url("fonts/BaskervvilleSC-Regular.ttf");
  }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #00000030;
}

  body {
    font-family: "Baskervville SC", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
  }

  html {
    scroll-behavior: smooth;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    background-color: gray;
  }

  .nav-list a {
    text-decoration: none;
    color: #000000;
  }

  .main-content {
    background-color: gray;
  }

  .education-info a {
    text-decoration: none;
    color: #000000;
  }


  .contacts-info a {
    text-decoration: none;
    color: #000000;
    list-style: none;
  }

  .contacts {
    list-style: none;
  }

  .profile {
    display: flex; 
    align-items: center;
}   

  .profile h1 {
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #000000;
    margin-left: 15px;
  }

  pre {
    display: flex;
    align-items: center;
    margin-left: -250px;
  }

  h2 {
    margin: 30px 20px;
    width: 140px;
  }

  .about {
    margin: 30px 20px;
}

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    background-color: gray;
  }

  .footer a {
    text-decoration: none;
    color: #000000;
  }